body {
	font-family: 'Segoe UI', sans-serif;
	background: #f8f6f2;
	padding: 20px;
	color: #24292f;
}
.search-box {
	display: flex;
	gap: 10px;
	max-width: 600px;
	margin: 0 auto 30px;
}
input {
	flex: 1;
	padding: 10px;
	border: 1px solid #d0d7de;
	border-radius: 6px;
}
button {
	background: #2da44e;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.loader {
	display: none;
	text-align: center;
	font-weight: bold;
	margin: 20px;
}
.error {
	color: #cf222e;
	text-align: center;
}

.content {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 20px;
	max-width: 900px;
	margin: 0 auto;
}
.profile-card {
	background: white;
	padding: 20px;
	border-radius: 12px;
	text-align: center;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.profile-card img {
	width: 150px;
	border-radius: 50%;
	margin-bottom: 15px;
}

.repo-item {
	background: white;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 6px;
	border: 1px solid white;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.repo-item:hover {
	border-color: #BA7517;
}

.modal {
    position: fixed; inset: 0;
	background: rgba(0,0,0,0.5);
    display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}
.modal.hidden { display: none; }
.modal-content {
	background: #fff;
	padding: 25px;
	border-radius: 12px;
	width: 400px;
}

.btn-cancel {
	background: #BA7517;
	color: #fff;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.readme {
	white-space: pre-wrap;
	overflow-x:scroll;
	background:#f4f4f4;
	padding:10px;
	font-size:12px;
}